include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include mrp_report *.css
recursive-include mrp_report *.csv
recursive-include mrp_report *.html
recursive-include mrp_report *.ico
recursive-include mrp_report *.js
recursive-include mrp_report *.json
recursive-include mrp_report *.md
recursive-include mrp_report *.png
recursive-include mrp_report *.py
recursive-include mrp_report *.svg
recursive-include mrp_report *.txt
recursive-exclude mrp_report *.pyc